@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.projects {
  padding: 50px 0;
  overflow: hidden;

  .title-section {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;

    @include tablet {
      font-size: 2rem;
    }
  }

  &__slider-container {
    cursor: grab;
    padding-left: 5%;

    &:active {
      cursor: grabbing;
    }
  }

  &__track {
    display: flex;
    gap: 40px;
    width: max-content;
    padding: 30px 0;

    @include tablet {
      gap: 20px;
    }
  }

  .project-card {
    position: relative;
    width: 500px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden !important;
    text-decoration: none;
    display: block;
    -webkit-mask-image: -webkit-radial-gradient(white, black);

    @include tablet {
      width: 280px;
      height: 200px;
    }

    &:last-child {
      margin-right: 50px;
    }

    &__image-container {
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        transition: transform 0.5s ease;
      }
    }

    &__overlay {
      position: absolute;
      inset: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
      opacity: 0.6;
      transition: opacity 0.3s ease;

      @media (min-width: 1024px) {
        opacity: 0;
      }
    }

    &__info {
      position: absolute;
      bottom: 20px;
      left: 20px;
      color: white;
      z-index: 2;

      h3 {
        font-size: 1.5rem;
        margin-bottom: 5px;
        font-family: $font-main;

        @media (min-width: 1024px) {
          font-size: 2rem;
        }
      }

      p {
        font-size: 0.9rem;
        opacity: 0.9;
        font-weight: bold;
      }
    }

    @media (min-width: 1024px) {
      &:hover {
        .project-card__overlay {
          opacity: 1;
        }
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}
