@use "../../styles/variables" as *;

.projects {
  padding: 0 100px 0;
  overflow: hidden;

  .title-section {
    text-align: center;
    font-size: 2rem;
  }

  &__slider-container {
    cursor: grab;
    padding-left: 5%;
    &:active {
      cursor: grabbing;
    }
  }

  &__track {
    display: flex;
    gap: 40px;
    width: max-content;
    padding: 50px 0;
  }

  .project-card {
    position: relative;
    width: 500px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden !important;
    text-decoration: none;

    &:last-child {
      margin-right: 50px;
    }

    &__image-container {
      width: 100%;
      height: 100%;
      background: transparent;

      img {
        width: 101%;
        height: 101%;
        object-fit: cover;
        display: block;
        margin: -0.5%;
      }
    }

    &__overlay {
      position: absolute;
      inset: 0;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &__info {
      position: absolute;
      bottom: 100px;
      left: 40px;
      color: white;
      z-index: 2;

      h3 {
        font-size: 2rem;
        margin-bottom: 10px;
        font-family: $font-main;
      }
      p {
        font-size: 1rem;
        opacity: 0.8;
        font-weight: bold;
      }
    }

    &:hover img {
      transform: scale(1.1);
    }
  }
}
