@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.hero {
  height: 100vh;
  @include flex(center, center, column);
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    height: 60vh;
  }

  &__title {
    font-size: clamp(15rem, 10vw, 8rem);
    font-family: $font-accent;
    color: $color-secondary;
    text-align: center;

    @media screen and (max-width: 768px) {
      font-size: clamp(3.8rem, 15vw, 5rem) !important;
      line-height: 1.2;
    }
  }

  &__subtitle {
    font-size: clamp(4rem, 6vw, 4rem);
    font-family: $font-main;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
      font-size: clamp(1.2rem, 4vw, 2rem);
      margin-top: 1rem;
    }

    &.left {
      align-self: flex-start;
      margin-left: 10%;
    }
    &.right {
      align-self: flex-end;
      margin-right: 10%;
    }
  }

  &__scroll {
    position: absolute;
    bottom: 30px;
    animation: bounce 2s infinite;
  }
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
}
