// --- COULEURS ---
$color-primary: #032834;
$color-secondary: #fbbb08;
$color-white: #ffffff;


// --- TYPOGRAPHIES ---
$font-main: 'Lexend', sans-serif;
$font-accent: 'Rouge Script', cursive;

// --- BREAKPOINTS (Optionnel mais utile) ---
$tablet: 768px;
$desktop: 1024px;



