@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 5%;
    @include flex(space-around, center);
    z-index: 1000;
    background-color: rgba(3, 40, 52, 0.8);
    backdrop-filter: blur(10px); 

    @media screen and (max-width: 768px) {
        justify-content: right;
    }

    &__links {
        @include flex(center, center);
        gap: 100px;
        list-style: none;

        a {
            color: white;
            text-decoration: none;
            font-family: $font-main;
            font-weight: 300;
            font-size: 0.9rem;
            transition: color 0.3s;

            &:hover {
                color: $color-secondary;
            }
        }
    }
    &__burger {
    display: none; 
    position: relative;
    z-index: 2000;
    color: #ffffff;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    &__burger {
      display: flex;
      font-size: 2.5rem;
    }

    &__links {
      position: fixed;
      top: 0;
      right: -100%; 
      width: 100%;
      height: 100vh;
      background: $color-primary; 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: 0.4s ease-in-out;
      gap: 30px;
      z-index: 1000;

      &.active {
        right: 0;
      }

      li a {
        font-size: 1.5rem;
      }
    }
  }
}
