@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 5%;
    @include flex(space-around, center);
    z-index: 1000;
    background-color: rgba(3, 40, 52, 0.8);
    backdrop-filter: blur(10px); // Petit effet de flou moderne

    &__links {
        @include flex(center, center);
        gap: 100px;
        list-style: none;

        a {
            color: white;
            text-decoration: none;
            font-family: $font-main;
            font-weight: 300;
            font-size: 0.9rem;
            transition: color 0.3s;

            &:hover {
                color: $color-secondary;
            }
        }
    }
}
