@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.project-detail-content {
    display: flex;
    gap: 60px;
    padding: 100px 5%;
    max-width: 1600px;
    margin: 0 auto;

    @media (max-width: 1100px) {
        flex-direction: column-reverse;
        padding-top: 60px;
    }

    .text-content {
        flex: 0.8;

        h1 {
            font-family: $font-accent;
            margin-bottom: 10px;
            font-size: 2.3rem;
        }

        .tech-stack-icons {
            display: flex;
            gap: 15px;
            margin: 10px 0 30px;
            font-size: 1.8rem;
            opacity: 0.9;
        }

        h3 {
            margin-top: 20px;
            font-size: 1.1rem;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .project-links {
            display: flex;
            flex-direction: column;

            a {
                width: fit-content;
                text-decoration: underline;
            }
        }
    }

    .media-content {
        display: flex;
        flex: 1.2;
        min-width: 0;

        .media-item {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1a1a1a7a; 
            border-radius: 20px;
            overflow: hidden;

            img,
            video {
                width: 100%;
                height: auto;
                max-height: 70vh; 
                object-fit: contain; 
            }
        }

        .project-slider {
            padding-bottom: 50px;

            .swiper-pagination {
                bottom: 0 !important;
            }

            .swiper-pagination-bullet {
                width: 10px;
                height: 10px;
                background: #ffffff !important;
                opacity: 0.5;

                &-active {
                    opacity: 1;
                    background: $color-secondary !important;
                    width: 25px;
                    border-radius: 5px;
                }
            }

            --swiper-navigation-size: 30px;
            --swiper-navigation-color: #fff;
        }
    }
}
