@use "../../styles/variables" as *;

.project-cursor {
  position: fixed;
  width: 80px;
  height: 80px;
  background-color: $color-secondary;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);

  .arrow-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1a1a1a;
    font-family: $font-main;
    font-weight: bold;
    font-size: 0.8rem;

    svg {
      width: 20px;
      height: 20px;
      margin-top: 2px;
    }
  }
}
