@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.expertises {
    padding: 80px 0;
    overflow-x: hidden;
    background-color: transparent;

    .title-section {
        margin-bottom: 60px;
        text-align: center;
        font-size: 2.5rem;

        @include tablet {
            font-size: 2rem;
            padding: 0 20px;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include tablet {
            gap: 50px; 
        }
    }

    &__line {
        display: flex;
        white-space: nowrap; 
        gap: 30px;
        font-size: clamp(4rem, 7vw, 4rem); 
        font-weight: 800;
        text-transform: uppercase;
        font-family: $font-main;

        @include tablet {
            flex-wrap: wrap;      
            justify-content: center; 
            white-space: normal;  
            gap: 15px 20px;        
            font-size: 1.8rem;    
            transform: none !important; 
        }

        .skill-item {
            display: inline-block;
            color: white;

            &.outline {
                color: transparent;
                -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);

                @include tablet {
                    -webkit-text-stroke: 1px #fbbb08; 
                }
            }
        }
    }
}