@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.expertises {
    padding: 80px 0;
    overflow-x: hidden;
    background-color: transparent;

    @include tablet {
        padding: 60px 0 30px;
    }

    .title-section {
        margin-bottom: 60px;
        text-align: center;
        font-size: 2.5rem;

        @include tablet {
            font-size: 2rem;
            padding: 0 20px;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include tablet {
            gap: 30px; 
        }
    }

    &__line {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px 30px;
        padding: 0 4%;
        
        font-size: clamp(1.8rem, 4.5vw, 3.5rem); 
        
        font-weight: 800;
        text-transform: uppercase;
        font-family: $font-main;
        text-align: center;

        @include tablet {
            gap: 15px 25px;
            transform: none !important;
        }

        .skill-item {
            display: inline-block;
            color: white;
            white-space: nowrap; 

            &.outline {
                color: transparent;
                -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);

                @include tablet {
                    -webkit-text-stroke: 1px #fbbb08; 
                }
            }
        }
    }
}