@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.expertises {
  padding: 50px 0;
  overflow: hidden;
  background-color: transparent;

  .title-section {
    padding-left: 10%;
    margin-bottom: 50px;
    text-align: center;
    font-size: 2.5rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
  }

  &__line {
    display: flex;
    white-space: nowrap;
    gap: 20px;
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    font-family: $font-main;

    @include tablet {
      font-size: 3rem;
    }

    .skill-item {
      color: white;
      
      &.outline {
        color: transparent;
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
      }
    }
  }
}